
.about-myimg {
  justify-content: center !important;
  padding-top: 9em !important;
}

@media (max-width: 767px) {
  .myAvtar {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }
}

.about-page {
  background-image: var(--section-background-color);
  background-repeat: no-repeat;
  font-family: Georgia !important;
  background-size: cover !important;
  padding-bottom: 50px !important;
  padding-top: 10px !important;
  width: 100%;
  height: 100%;
  min-height:100vh;
}

.about-header {
  color: whitesmoke !important;
  padding-top: 100px !important;
  padding-bottom: 20px !important;
  text-align: center;
}

.about-body {
  padding-top: 50px;
  font-size: 1.2em !important;
  text-align: left;
}

.about-sm {
  text-align: center !important;
  padding-top: 25px;
  color: white !important;
}

.about-sm-link {
  justify-content: center !important;
  padding-top: 15px !important;
  display: inline-block !important;
  position: relative !important;
  padding-inline-start: 0 !important;
}

.about-sm-icons {
  position: relative !important;
  display: inline-block !important;
  width: 40px !important;
  height: 40px !important;
  text-align: center !important;
  font-size: 1.2em !important;
  line-height: 2em !important;
  background: rgba(255, 255, 255, 0.972) !important;
  border-radius: 50% !important;
  transition: 0.5s !important;
}

.sm-sml-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #68187a;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.about-sm-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #801f95;
}

.about-sm-icons:hover {
  color: #87209e;
  box-shadow: 0 0 5px #87209e;
  text-shadow: 0 0 2px #87209e;
}
.img-home {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: #700c86 !important;
}
